.navigation-item {
    padding: 2em;
    text-decoration: none;
    background-color: rgb(46, 165, 255);
}

.navigation-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navigation-item:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.navigation-item.active {
    filter: brightness(110%);
}