.navigation {
    display: flex;
    flex-direction: row;
    background-color: rgb(117, 197, 255);
}

.history-container {
    display: flex;
    flex-direction: row;
    border: solid 0.1rem rgb(100, 100, 100);
    border-left: none;
    border-right: none;
    box-shadow: 0 0.4em 1em -0.4em rgba(0, 0, 0, 0.5);
    background-color: white;
}