<div class="navigation">
    <NavLink href="" class="navigation-item" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="players" class="navigation-item" Match="NavLinkMatch.All">Players</NavLink>
    <NavLink href="servers" class="navigation-item" Match="NavLinkMatch.All">Servers</NavLink>
</div>

@code {

}
