@namespace blazor_dashboard

@if (State != null && PageStateReference != null)
{
	<div 
		@onmouseleave="OnMouseLeave"
		@onmouseover="OnMouseOver" 
		class="history-item @(State.ActivePage == PageStateReference ? "active" : "")" 
		@onclick=@(() => State.SetPage(PageStateReference))>
		<div class="text-container">@ChildContent</div>
		<div class="arrow-container">></div>
	</div>
}

@code {
	[Parameter]
	public string? ChildContent { get; set; }

	[Parameter]
	public PageState? PageStateReference { get; set; }

	[Parameter] public EventCallback<MouseEventArgs> OnMouseLeave { get; set; }

	[Parameter] public EventCallback<MouseEventArgs> OnMouseOver { get; set; }

	[CascadingParameter]
	public SiteState? State { get; set; }

	protected override void OnParametersSet()
	{
		if (State == null)
			throw new Exception("invalid State during OnParametersSet");

		State.SubscribeToStateChange(() => StateHasChanged());
	}
}