@namespace blazor_dashboard

@if (State != null && PageParameters != null && PageType != null)
{
	<a class="page-link" @onclick="() => OnClick()">@ChildContent</a>
}

@code {
	[Parameter]
	public string? ChildContent { get; set; }

	[Parameter]
	public Type? PageType { get; set; }

	[Parameter]
	public string? PageName { get; set; }

	[Parameter]
	public Dictionary<string, object>? PageParameters { get; set; }

	[CascadingParameter]
	private SiteState? State { get; set; }

	private void OnClick()
	{
		if (State == null)
			return;

		if (PageType == null)
			throw new Exception("PageType was null on PageLink");

		if (PageName == null)
			throw new Exception("PageName was null on PageLink");

		State.SetPage(PageType, PageName, PageParameters);
	}
}
