@namespace blazor_dashboard

<h1>Event Log</h1>

<p>This page shows dashboard event logs.</p>

<table>
	<thead>
		<tr>
			<th style="width: 15em;">Time</th>
			<th>Event</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var log in EventLogEntries)
		{
			<tr>
				<td style="width: 15em; text-align: center;">@log.EventTime.ToString("dd/MM/yyyy HH:mm")</td>
				<td>@log.Description</td>
			</tr>
		}
	</tbody>
</table>

@code {
	private List<EventLogEntry> EventLogEntries { get; set; } = new();

	protected override void OnParametersSet()
	{
		EventLogEntries = PretendDatabase.GetEventLogs()
			.OrderByDescending(x => x.EventTime)
			.ToList();
	}
}
