@namespace blazor_dashboard

<h1>Home</h1>

Welcome to the game data dashboard.

<h2>Key Features</h2>
<ul>
	<li>Single-page website provides fast and responsive experience for increased productivity.</li>
	<li>History bar allows user to easily jump forwards and backwards in time. Useful for cross-referencing multiple pages.</li>
	<li>Data is refetched on each component load; no confusing stale data.</li>
</ul>