@namespace blazor_dashboard

<h1>Home</h1>

Welcome to the game data dashboard!

<h2>Key Features</h2>
<ul>
	<li>Single-page website provides fast and responsive experience for increased productivity.</li>
	<li>History bar allows users to easily jump forwards and backwards in time - useful for cross-referencing multiple pages. Preview feature on hover.</li>
	<li>Data is refetched on each component load; no confusingly stale data.</li>
</ul>