* {
    color: black;
    font-family: 'Noto Sans';
}

body {
    margin: 0;
}

.page {
    padding: 1em 3em;
}

table {
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: solid rgb(100, 100, 100) 0.1em;
    padding: 0.4em;
}

.td-centered {
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: rgb(117, 197, 255);
    color: white;
}

h2 {
    font-size: 1.2em;
}